.Titulo{
    color: rgb(0, 0, 179);
    background-color: rgba(245, 31, 31, 0.589);
    text-align: center;   
    border-radius: 10px;
}


.Menu{
    text-align: center;
    background-color: rgba(153, 153, 153, 0.548);
    color: black;
    border-radius: 6px;
}

.imagem{
    height: auto;
}